service copy_leica_config /vendor/bin/leica_config_copy.sh
    class late_start
    user root
    group root
    oneshot
    seclabel u:r:init:s0
    disabled

on property:sys.boot_completed=1
    start copy_leica_config
